.header {
    position: absolute;
    z-index: 10px;

}

.navbar {
    padding: 20px 0;
}
.navbar-brand {
    font-weight: 800;
    color: #262626;
    font-size: 2em;
    text-transform: uppercase;


}
.nav-item {
    font-weight: 800;
    text-transform: uppercase;
    

}
.nav-item .nav-link {

    color: #262626;
    width: 15vh;
    text-align: center;
    padding: 10px 0;
    margin: 3px 10px;
    transition: ease 1.5s;
    border-radius: 30px;
}
.nav-item .nav-link:hover,
.nav-item.active .nav-link{
background: #262626;
color: #fff;
}

.loginbtn {
    padding: 10px;

}
.carousel-item {
    height: 60vh;
    background: no-repeat center center scroll;
    background-size:cover;

}
.carousel-item  .carousel-caption {
    bottom:45%;
    background: rgba(12, 11, 11, 0.4);
    
}


.carousel-caption h5 {
   color: #fff;
   font-weight: 1000;
   font-size: 2.5em;
   left: 0;

}
.carousel-caption p {
    color: #fff;
}
#chefs {
    margin:50px 20px  0;
}

