* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    font-weight: 400;
}

.header {
    position: absolute;
    z-index: 10px;

}

.navbar {
    padding: 21px 0;
    background: #fff;
}
 #navbarSupportedContent {
     margin-right: 200px;
 }
.navbar-brand {
    font-weight: 800;
    color: #262626;
    font-size: 2em;
    text-transform: uppercase;
    


}
.nav-item {
    font-weight: 800;
    text-transform: uppercase;
    

}
.nav-item .nav-link {

    color: #262626;
    width: 15vh;
    text-align: center;
    padding: 10px 0;
    margin: 3px 10px;
    transition: ease 1.2s;
    border-radius: 30px;
}
.nav-item .nav-link:hover,
.nav-item.active .nav-link{
background: #262626;
color: #fff;
}

.loginbtn {
    padding: 10px;

}
.carousel-item {
    max-height:60vh;
    width: 100%;
    background: no-repeat center center fixed;
    background-size: cover;
   

}

.carousel-item  .carousel-caption {
    bottom: 42%;
    background: rgba(12, 11, 11, 0.4);
    
}


.carousel-caption h5 {
   color: #fff;
   font-weight: 1000;
   font-size: 2.5em;
  

}

#chefs {
    margin:50px 20px  0;
}

.img-fluid.rounded-circle {
    height: 130px;
}

.names {
    font-weight: 600;
    text-transform: capitalize;
}

.card-body h5 {
    font-weight: 400;
    text-transform: capitalize;
}
.card {
    margin-bottom: 70px ;
}


#team img {
    margin-top: -80px;
}

#team i {
    font-size: 26px;
   
}
#team p {
    font-weight: 500;
}

#team .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px #262626;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background: rgba(38, 38, 38, 0.8);
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #5a5a5a;
}
#team .card:hover h3 {
    color: #84a9ac !important
}

#team .card:hover i {
    color: #fff;
} 